<div class="content">
  <div class="left-content">
    <img src="./imagen.jpg" alt="Logo de la biblioteca">
    <input type="text" placeholder="Buscar...">
  </div>
  <div class="center-content">
    <nav>
      <ul>
        <li><a routerLink="/catalogo" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/catalogo" routerLinkActive="active">Catálogo</a></li>
        <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="/sobre-nosotros" routerLinkActive="active">Sobre Nosotros</a></li>
        <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      </ul>
    </nav>
  </div>
  <div class="rigth-content">
    <button>Iniciar Sesión</button>
    <button>Registrarse</button>
    <button aria-label="Toggle sidebar"><img src="" alt="Icono del Perfil o Login"></button>
  </div>
</div>
